@inherits LayoutComponentBase

<div>
    <Container Fluid="true" Class="bg-dark">
            <PageProgress Visible="@LayoutManager.PageLoading" Color="Color.Primary"/>
        <Container>
            <Bar Breakpoint="Breakpoint.Desktop"
                 Background="Background.Dark"
                 ThemeContrast="ThemeContrast.Dark"
                 Class="row" Style="padding: .5rem 0">
                <BarBrand>
                    <Link To="/" Class="text-decoration-none text-primary">
                        Home
                    </Link>
                </BarBrand>
                <BarToggler/>
                <BarMenu>
                    <BarStart Class="ml-md-4">
                        <BarItem>
                            <BarLink To="/home">首页</BarLink>
                        </BarItem>
                         <BarItem>
                            @* <BarLink To="/tags">标签</BarLink> *@
                            </BarItem>
                            <BarItem>
                            <BarLink To="/about">关于我</BarLink>
                            </BarItem>
                    </BarStart>
                    <BarEnd>
                        <BarItem>
                            <Form>
                                <div class="d-inline-flex">
                                    <div>
                                        <TextEdit Placeholder="搜索"/>
                                    </div>
                                    <div>
                                        <Button Type="ButtonType.Submit" PreventDefaultOnSubmit="true">
                                            <Icon Name="IconName.Search"/>
                                        </Button>
                                    </div>
                                </div>
                            </Form>
                        </BarItem>
                    </BarEnd>
                </BarMenu>
            </Bar>

        </Container>
    </Container>

    <Container>
        <div class="row my-3">
            @Body
        </div>


    </Container>
</div>
