@inherits LayoutComponentBase

<Container >
 <Bar Breakpoint="Breakpoint.Desktop"
            Background="Background.Light"
            ThemeContrast="ThemeContrast.Light"
            Class="row">
            <BarBrand>
                <Link To="/" Class="text-decoration-none text-primary">
                    ECHO'S BLOG
                </Link>
            </BarBrand>
            <BarToggler />
            <BarMenu Margin="new FluentMargin()">
                <BarStart>
                    <BarItem>
                        <BarLink To="/home">Home</BarLink>
                    </BarItem>
                    <BarItem>
                        <BarLink To="/articles">Articles</BarLink>
                    </BarItem>
                </BarStart>
                <BarEnd>
                    <BarItem>
                        <BarLink To="/about">About me</BarLink>
                    </BarItem>
                </BarEnd>
            </BarMenu>
        </Bar>
    <div class="row">
        @Body
    </div>
</Container>
