@page "/about"

@if (this.Author == null)
{
    this.LayoutManager.ShowPageLoading();
}
else
{
    this.LayoutManager.HidePageLoading();
    <Card>
        <CardBody>
            <CardTitle Size="5">关于我</CardTitle>
            <div>
                <Figure  Class="mx-auto d-block" style="width: 128px">
                    <FigureImage Source="@Author.Avatar" AlternateText="Avatar"/>
                    <FigureCaption>@this.Author.FullName</FigureCaption>
                </Figure>
            </div>
            <CardText>
                @this.Author.Introduction
            </CardText>
        </CardBody>
    </Card>
}
